/* Fondo general similar a la landing */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: linear-gradient(to right, #eefbfa, #fcf3f6);
}

/* CENTRADO DEL CUADRO */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TARJETA DEL LOGIN */
.login-box {
  background: #ffffff;
  padding: 3.5rem;
  border-radius: 1.5rem;
  width: 420px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  border: 1px solid #e6e0ff;
}

/* LOGO */
.login-logo {
  width: 70px;
  margin-bottom: 10px;
}

/* TÍTULO */
.login-title {
  font-family: "Bebas Neue";
  color: rebeccapurple;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  margin: 0;
  margin-bottom: 10px;
}

/* SUBTÍTULO */
.login-subtitle {
  color: #4e4760;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

/* FORMULARIO */
label {
  text-align: left;
  display: block;
  margin: 0.5rem 0 0.2rem 0;
  font-weight: 600;
  color: #3f3948;
}

input {
  width: 100%;
  padding: 0.9rem;
  border: 2px solid #d8d1ff;
  border-radius: 0.6rem;
  background: #faf9ff;
  font-size: 1rem;
  transition: 0.3s ease;
}

input:focus {
  border-color: rebeccapurple;
  background: #fff;
  outline: none;
}

/* BOTÓN */
.login-btn {
  width: 100%;
  background: rebeccapurple;
  color: #fff;
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #64309b;
}

/* PIE */
.login-footer {
  margin-top: 1.5rem;
}

.login-footer a {
  text-decoration: none;
  color: rebeccapurple;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}
